.bb{display: flex;

width:  (1,150px);
height:  (44px);
top: 12px;
left: 145.08648681640625px;
gap: 140px;
font-family: Gilroy-Medium;}
.bb1{margin-left: 104.09px;}
.bbb {display: flex;
    width: Hug (504px);
height: Hug (24px);
gap: 40px;
margin-left: -140px;
width: auto;
width: 69;
height: auto;
height: 22;
}
.bbbb{margin-left: 40px;}
.bbbbb{margin-left: 40px;}
.bbbbbb{margin-left: 40px;}
.bbbbbbb{margin-left: 40px;
width: fit-content;
width: 69;
height: fit-content;
height: 22;
}
.bbbbbbbbb{width: auto;
    width: 40px;
    height: auto;
    height: 20px;}
.bbbbbbbbbb{color: rgba(255, 255, 255, 1);
background-color: rgba(0, 101, 254, 1);
width: 142px;
height: 42;
text-size-adjust:79;
padding-left:24px;
padding-top: 12;
padding-bottom: 12;
padding-right: 24;
border-radius: 100px;
border-color: rgba(255, 255, 255, 1);
}
.Optimize-div{
    margin-left: 246px;
    margin-right: 246px;
    width: 948px; ;
    height: 313px;
    margin-top: 162;
    
}
.Optimize{
    font-family: Gilroy-Bold;
font-size: 48px;
line-height: 96px;
letter-spacing: 0em;
text-align: center;
font-size: 48px;
font-weight: 600;
line-height: 96px;
letter-spacing: 0em;
text-align: center;

   }
.strong{color:rgba(0, 90, 226, 1) ; }
.vector3 {width: 173.62977600097656px;
    height: 19.90825843811035px;

    padding-left: 397px;}
    
 
.Personalize{
    color: #141414;
     font-size: 18px;
     font-family: Gilroy-Medium;
     font-weight: 400;
     line-height: 28px;
     word-wrap: break-word;
     margin-left: 329.5px;
     margin-right: 329.5px;
     margin-top: 8px;
     text-align: center;
}
.sign-up-button{
    color: white;
     font-size: 16px;
     font-family: Gilroy-SemiBold;
     font-weight: 400;
     line-height: 12px;
     word-wrap: break-word;
      negative: none;
      Animate: Instant;
     animation-duration: 0ms;
     background-color: rgba(0, 101, 254, 1);
     border-radius: 100px;
     padding: 24px,12px,24px,12px;
     border: 0px;
     width: 142px;
     height: 44px;
     margin-left: 579px;
     
     }
     .learn-more-button{margin-left: 56px;
    width: 84px;
height: 20px;
color: #0065FE;
 font-size: 16px;
 font-family: Gilroy-SemiBold;
 font-weight: 400;
 word-wrap: break-word;
display: inline;
     }
.gruop2{
        margin: right 238px; ;
margin-left: 434px;
}
.Rectangle{position: relative;
    top: 20px; right:228 ;bottom: 24;left:256px ;
   color:  linear-gradient rgba(226, 233, 240, 1), rgba(220, 228, 235, 1), rgba(226, 233, 240, 1);
width: 1440px;
height: 93px;}
.ellipse-1{position:absolute;
    color:  rgba(226, 233, 240, 1), rgba(220, 228, 235, 1), rgba(226, 233, 240, 1);
    width: 956px; 
    height: 49px;
    margin-left: 256px;
}
.abcd{display: flex;}


.one-stop{color: #141414;
    font-size: 40px;
    font-family: Gilroy-Bold;
    font-weight: 400;
    line-height: 48px;
    word-wrap: break-word;
   margin-left: 140px;
   padding-right: 120px;
   margin-bottom: 60px;
   margin-top: 60px;
width: 337px;
height: 9px; }

.abcd1{display: flex;
margin-top:60px ;
margin-bottom: 60px;
margin-right: 140px;
font-family: font-family: Gilroy-Medium;;}
.Possibilities{color: rgba(0, 90, 226, 1);}
.span-1{color: #141414; 
     font-size: 32px;
     font-family: Gilroy-SemiBold;
     font-weight: 400;
     line-height: 40px;
     word-wrap: break-word;
    }

.Active{width: 88px;
height: 68px;}
.links{padding-left:72px ;}
.Clicked{padding-left:72px; }
.App{padding-left:73px ;}

.wrapper-1{display: flex;
margin-top: 128px;
margin-bottom: 130px;
margin-left: 120px;
margin-right: 118;
height: px;
width: 
}
.wrapper-2{display: flex;
    
    
    ;
width: 64px;}
.Scissor{width: 398.100px;
    font-family: Gilroy-Medium;
font-size: 16px;
line-height: 24px;
letter-spacing: 0em;
text-align: left;

height: 256px;
padding-right: 96px;}
.allow{width: 340px;
height:220px ;
font-family: Gilroy-Medium;
font-size: 16px;
line-height: 24px;
letter-spacing: 0em;
text-align: left;
}
.Custom{width: 340px;
height: 211px;font-family: Gilroy-Medium;
font-size: 16px;
line-height: 24px;
letter-spacing: 0em;
text-align: left;
}
.Generate{width: 340px;
height:220px ;
padding-top: 64px;
font-family: Gilroy-Medium;
font-size: 16px;
line-height: 24px;
letter-spacing: 0em;
text-align: left;
}
.Receive{width: 340px;
height:220px ;
padding-top: 64px;
font-family: Gilroy-Medium;
font-size: 16px;
line-height: 24px;
letter-spacing: 0em;
text-align: left;
}
.top{padding-right:28px;}
.grop-3{height: 56px ;
    width: 56px;}
.Paste{background-color: rgba(30, 52, 72, 1);
    }
.price{text-align: center;}
.price-span{color: rgba(0, 101, 254, 1);}
.price-h{
color: #141414;
 font-size: 40px;
 font-family: Gilroy-Bold;
 font-weight: 400;
 line-height: 48px;
 word-wrap: break-word;
}


.price-image{width: ;
height: ;}

.From{
    color: #141414;
     font-size: 16px;
     font-family: Gilroy-Medium;
     font-weight: 400;
     line-height: 24px;
     word-wrap: break-word;
     width: 555px;
     height: 52px;
     text-align: center;
     margin-left: 430px;
    }
    .image{width:  1088px;
    height: 627px;
margin-left: 176px;}
.Get{text-align: center;}
.get1{width: 200px;
height: 48px;
color: #0065FE;
 font-size: 16px;
 font-family: Gilroy-SemiBold;
 font-weight: 400;
 line-height: 12px;
 word-wrap: break-word;
background-color: white;
border-radius: 100px;
border-color: rgba(0, 101, 254, 1);
overflow: hidden;
justify-content: center;}

.select{color: white;
     font-size: 16px;
     font-family: Gilroy-SemiBold;
     font-weight: 400;
     line-height: 12px;
     word-wrap: break-word;
    width: 200px;
height: 48px;
background-color: rgba(0, 101, 254, 1);
border-radius: 100px;
overflow: hidden;
justify-content: center;}

.faq{color: #141414;
     font-size: 40px;
     font-family: Gilroy-Bold;
     font-weight: 400;
     line-height: 32px;
     word-wrap: break-word;
    text-align: center;}
    .p-group{}
    .p1{ color: #141414;
         font-size: 20px;
         font-family: Gilroy-Medium;
         font-weight: 400;
         line-height: 32px;
         word-wrap: break-word;}
















.url{
background-color: rgba(255, 255, 255, 1);
text-align: center;
padding-left: 482px;
padding-right: 482px;
padding-top: 83.5px;
padding-bottom: 83.5px;
width: 467px;
height: 355px;}

